<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

    <!--js-->
    <script th:src="@{/js/min.js}"></script>

</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${mes}"></h1>
    <br/>
    <a th:href="@{/product}" class="btn btn-primary">Product Page</a>
    <br/>
    <button onclick="showAlert('Hello')">OK</button>
</div>

</body>

</html>